body
{
	margin: 0;
	background-color: #fff7e7;
	font-family: "Helvetica", "Arial", sans-serif;
}

.push
{
  bottom:0;
}

footer
{
	text-align: center;
	position: absolute;
	width: 100%;
	/*border-top: 1px solid #718CA8;*/
	padding-top: 20px;
	color: #718CA8;
}

/*navbar*/
ul.topnav
{
	list-style-type: none;
	margin: 0;
	padding: 1em 5em;
	overflow: hidden;
	/*background-color: #faf9f7;*/
}

/*Keeps everything in navbar to the right*/
ul.topnav li
{
	float: right;
}

/*h2 within navbar*/
ul.topnav h2
{
	display: block;
	margin: 0;
	padding-top: 7px;
}

/*Links within navbar*/
ul.topnav li a
{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/*When hovering over navbar link*/
ul.topnav li a:hover
{
	background-color:  #ebe7e0;
}

/*Active navbar link*/
/*ul.topnav li a.active
{
	color: #999;
}*/

/*When hovering over active navbar link*/
/*ul.topnav li a:hover.active
{
	background-color: #5e6e87;
}*/

/*Left part of navbar*/
ul.topnav li.left
{
	float:left;
}

ul.topnav li a.icon
{
	padding: 12px 16px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

 /*Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #ebe7e0;
}

/* Caption text, renamed in case I want a different text class */
.cap-text { 
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.cap-text a
{
	color: #D5E4F5;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/*Had to rename javascript and CSS active from active to active-slides to
not interfere with navbar code*/
.active-slides, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.mySlides img
{
	width:100%;
	/*Added these lines so that images dont overflow*/
	max-height: 600px;
	height: auto;
	object-fit: contain;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
}

.photo-grid {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.photo-grid-item img{
  width:  100%;
  padding: 50px 0px;
}

.description-container {
  display: flex;
  justify-content: center;
}

.description {
  width: 1000px;
  padding: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: left;
}